@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.wrapper {
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
}

.welcome {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid;
  font-family: 'Merriweather';
  font-size: 2em;
  margin-right: 15px;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

@media (min-width: 768px) {
  .welcome {
    color: rgb(255, 230, 0);
    font-size: 60px;
  }
}